.easy {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8FFF8D;
    border: 3px solid #00FF09;
    border-radius: 15px;
    margin: 5px;
}

.walk {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BFBFBF;
    border: 3px solid #666666;
    border-radius: 15px;
    margin: 5px;
}

.recovery {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8DE2FF;
    border: 3px solid #00D9FF;
    border-radius: 15px;
    margin: 5px;
}

.long {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDFF6C;
    border: 3px solid #FFFF00;
    border-radius: 15px;
    margin: 5px;
}

.workout {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC155;
    border: 3px solid #FFAA00;
    border-radius: 15px;
    margin: 5px;
}

.race {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5555;
    border: 3px solid #FF0000;
    border-radius: 15px;
    margin: 5px;
}

.distance {
    margin-left: 5px;
}

.time {
    margin-right: 20px;
    color: #757575;
}

.delete {
    margin-right: 5px;
}

.recovery:hover, .easy:hover {
    transform: scale(1.01);
}

.easy:active {
    background-color: #00FF09;
}

.recovery:active {
    background-color: #00D9FF;
}

.click {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

.easyPreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #8FFF8D;
    border: 3px solid #00FF09;
}

.walkPreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #BFBFBF;
    border: 3px solid #666666;
}

.recoveryPreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #8DE2FF;
    border: 3px solid #00D9FF;
}

.longPreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #FDFF6C;
    border: 3px solid #FFFF00;
}

.workoutPreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #FFC155;
    border: 3px solid #FFAA00;
}

.racePreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #FF5555;
    border: 3px solid #FF0000;
}