.homeScreen {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 5vh;
    font-family: "Inter", sans-serif;
    background-image: url(../assets/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.info {
    position: absolute;
    color: black;
    top: 35%;
    width: 30vw;
    height: 20vh;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 35vw;
    margin-right: 35vw;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    color: var(--light-accent);
}

.caption {
    font-size: 2rem;
    color: var(--dark-main);
    padding-left: 10px;
    padding-right: 10px;
}

.features {
    display: flex;
    flex-direction: column;

    padding-top: 100px;
    position: relative;
    width: 100%;
    height: 800px;
    align-items: center;
    background-image: url(../assets/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}