.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    width: 40vw;
    height: 5vh;
}

.sign {
    width: 40.5vw;
    height: 5vh;
}

.input, .sign {
    margin: 5px;
}

.redirect {
}
