.container {
    overflow: scroll;
    font-family: "Inter", sans-serif;
}

caption {
    font-size: 5rem;
    font-weight: bold;
    color: var(--light-accent);
}

.datePicker {
    display: flex;

}

.datePicker button {
    border: none;
    background-color: transparent;
    font-size: 5rem;
    font-weight: bolder;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
}

.datePicker button:hover {
    color: var(--light-accent);
}

.datePicker button:active {
    color: var(--dark-accent);
}

table {
    padding: 5px;
    margin: 100px 5px 5px;
    max-width: 100vw;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-spacing: 0;
    border-collapse: collapse;
    outline: 2px solid transparent;
}

tr {
    position: relative;
    z-index: 1;
    border: 2px solid var(--light-accent);
    margin: 0;
}

td {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid var(--light-accent);
    height: 150px;
    max-height: 150px;
    position: relative;
    z-index: 1;
    width: 12.5vw;
    margin: 0;
}

.tableHeader {
    color: var(--light-accent);
    border-spacing: 0;
    border-collapse: collapse;
}

.tableHeader > th {
    border: 2px solid var(--light-accent);
    margin: 0;
}

.entryContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.entryContainer::-webkit-scrollbar {
    display: none;
}

.true {
    visibility: hidden;
    border: transparent;
}

.expand {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bolder;
}

.date {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0;
    color: var(--light-accent);
}

.expand:hover {
    color: var(--light-accent);
    transform: scale(1.25);
}

.collapse {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bolder;
    margin: 5px;
}

.collapse:hover {
    color: var(--light-accent);
    transform: scale(1.25);
}

.add {
    border: 3px solid;
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--light-main);
    border-color: var(--medium-main);
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
}

.add:hover {
    background-color: var(--medium-main);
    transform: scale(1.02);
}

.easypreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #8FFF8D;
    border: 3px solid #00FF09;
}

.walkpreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #BFBFBF;
    border: 3px solid #666666;
}

.recoverypreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #8DE2FF;
    border: 3px solid #00D9FF;
}

.longpreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #FDFF6C;
    border: 3px solid #FFFF00;
}

.workoutpreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #FFC155;
    border: 3px solid #FFAA00;
}

.racepreview {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #FF5555;
    border: 3px solid #FF0000;
}

.excontainer {
    max-width: 100vw;
    width: 99.1%;
    height: 85.6%;
    background-color: white;
    border: var(--light-accent) 2px solid;
    border-radius: 15px;
    position: absolute;
    top: 100px;
    left: 5px;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.workoutContainer {
    overflow-y: scroll;
    width: auto;
    min-width: 320px;
    height: 90%;
    border: 2px solid black;
}

.detailsContainer {
    width: 20%;
    height: 90%;
    border: 2px solid black;
}

.weekView {
    width: 40%;
    height: 90%;
    border: 2px solid black;
}

.largeAdd {
    border: 3px solid;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--light-main);
    border-color: var(--medium-main);
    border-radius: 15px;
    margin: 5px;
    justify-content: center;
    font-size: 1.1rem;
}

.largeAdd:hover {
    transform: scale(1.01);
}

.largeAdd:active {
    background-color: var(--medium-main);
}

.instructions {
    margin: 5px;
}

.addRunForm {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.selectType {
    margin-top: 5px;
    border-radius: 15px;
    height: 30px;
    border-top: 2px solid var(--light-accent);
    border-left: 2px solid var(--light-accent);
    border-bottom: 2px solid var(--dark-accent);
    border-right: 2px solid var(--dark-accent);
}

.timeSelect {
    margin-top: 5px;
    border-radius: 15px;
    height: 30px;
    border-top: 2px solid var(--light-accent);
    border-left: 2px solid var(--light-accent);
    border-bottom: 2px solid var(--dark-accent);
    border-right: 2px solid var(--dark-accent);
}

.distanceSelect {
    margin-top: 5px;
    border-radius: 15px;
    height: 30px;
    border-top: 2px solid var(--light-accent);
    border-left: 2px solid var(--light-accent);
    border-bottom: 2px solid var(--dark-accent);
    border-right: 2px solid var(--dark-accent);
}

.submit {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    height: 30px;
    border-top: 2px solid var(--light-accent);
    border-left: 2px solid var(--light-accent);
    border-bottom: 2px solid var(--dark-accent);
    border-right: 2px solid var(--dark-accent);
}

.weekOverviewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    overflow-y: scroll;
    max-height: 150px;
}