:root {
    --dark-accent: #4A2574;
    --light-accent: #924DBF;
    --dark-main: #494848;
    --medium-main: #909090;
    --light-main: #d4d4d4;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    border-bottom: 5px solid var(--medium-main);
    display: flex;
    justify-content: space-between;
    font-family: 'Trade Gothic LT Std', sans-serif;
    font-size: 1.25rem;
    z-index: 1;
}

.buttons {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo {
    height: 75%;
}
.link {

    height: 100%;
    display: flex;
    align-items: center;
    color: var(--medium-main);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 15px;
}

.activeLink {
    font-weight: bold;
    height: 111%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 5px solid var(--light-accent);
    margin-right: 15px;
    margin-left: 15px;
}

.activeLogin {
    padding: 4px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
    border: 2px solid var(--light-accent);
    color: white;
    background-color: var(--light-accent);
    text-decoration: none;
    font-weight: bold;
}

.login {
    padding: 4px;
    border-radius: 15px;
    border: 2px solid var(--dark-main);
    color: var(--dark-main);
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
}