.easy {
    border: 3px solid;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8FFF8D;
    border-color: #00FF09;
    border-radius: 15px;
    margin: 5px;
}

.recovery {
    border: 3px solid;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8DE2FF;
    border-color: #00D9FF;
    border-radius: 15px;
    margin: 5px;
}

.workout {
    border: 3px solid;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC155;
    border-color: #FFAA00;
    border-radius: 15px;
    margin: 5px;
}

.race {
    border: 3px solid;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5555;
    border-color: #FF0000;
    border-radius: 15px;
    margin: 5px;
}

.distance {
    margin-left: 5px;
}

.time {
    margin-right: 20px;
    color: #757575;
}

.delete {
    margin-right: 5px;
}

.recovery:hover, .easy:hover {
    transform: scale(1.01);
}

.easy:active {
    background-color: #00FF09;
}

.recovery:active {
    background-color: #00D9FF;
}

.click {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}