:root {
    --dark-accent: #4A2574;
    --light-accent: #924DBF;
    --dark-main: #494848;
    --medium-main: #909090;
    --light-main: rgba(212, 212, 212, 0.75);
}

body {
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: scroll;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
    display: none;
}

body *::-webkit-scrollbar {
    display: none;
}